@font-face {
  font-family: 'Italian';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/myfont.ttf');
}
@font-face {
  font-family: 'title';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Anton-Regular.ttf');
}
#header {
  grid-column: 1/2;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 45px;
  border: 1px solid red;
  border-radius: 10%;
}
.tabs:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
#content {
  width: 90%;
  height: 90%;
  max-width: 1900px;
  display: grid;
  grid-template-columns: 1.25fr 1.75fr;
  grid-template-rows: 0.1fr 0.25fr 0.5fr 0.5fr;
  font-family: 'Italian';
  background-image: url('godfather.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: aliceblue;
}

#info {
  height: fit-content;
  font-size: 1.75em;
}

#title {
  display: flex;
  justify-content: center;
  min-width: 390px;
  font-family: 'title';
  font-size: 2.2em;
  grid-column: 1/2;
}

#info {
  padding-left: 50px;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}
#info > p > h2 {
  display: flex;
  justify-content: flex-end;
}
#hours {
  padding-left: 50px;
  grid-column: 1/2;
  font-size: 1.5em;
}
#loc {
  padding-top: 40px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  font-size: 1.5em;
}

#home {
  display: grid;
  grid-column: 1/2;
}
#about {
  padding-left: 50px;
  grid-column: 1/2;
  font-size: 2em;
  display: flex;
  flex-direction: column;
}
