@font-face {
  font-family: 'Italian';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/myfont.ttf');
}
@font-face {
  font-family: 'title';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Anton-Regular.ttf');
}
#header {
  grid-column: 1/2;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.tabs {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 45px;
  border: 1px solid red;
  border-radius: 10%;
}
.tabs:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
#content {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1.25fr 1.75fr;
  grid-template-rows: .1fr .1fr 1fr;
  font-family: 'Italian';
  background-image: url('godfather.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
}
#title {
  display: flex;
  justify-content: center;
  min-width: 390px;
  font-family: 'title';
  font-size: 2.3em;
  grid-column: 1/2;
}

#info {
  height: fit-content;
  font-size: 1.75em;
  padding-left: 50px;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}
#info > p > h2 {
  display: flex;
  justify-content: flex-end;
}
#hours {
  padding-left: 50px;
  grid-column: 1/2;
  font-size: 1.2em;
}
#loc {
  padding-top: 40px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  font-size: 1em;
}

#home {
  height: 975px;
  display: grid;
  grid-template-rows: .2fr .8fr .5fr;
  grid-column: 1/2;
  
}

#about {
  height: 975px;
  font-size: 1.75em;
  padding-left: 50px;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  font-size: 3em;
}


#menu {
  height: 975px;
  font-size: 1.75em;
  padding-left: 50px;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  font-size: 2em;
}
li{
  padding: 1ch;
}
#home.inactive{
  display:none;
}
#about.inactive {
  display:none;
}
#menu.inactive {
  display:none;
}